<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>



<section>
    <div class="intro-title">Events</div>
    <table class="tableSection">
      <thead>
        <tr>
          <th><span class="text">Where</span>
    
          </th>
          <th><span class="text">When</span>
    
          </th>
          <th><span class="text">Sign Up!</span>
    
          </th>
        </tr>
      </thead>
      
      
      <tbody>
        <% @events.each do |event|%>
        <tr>
          <%# This is where each function from the user in the db will go %>
          <td><%= event.name %>
            <pre><%= event.desc%></pre>
          </td>
          <td><%= event.time %>
            <pre><%= event.day%></pre>
          </td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre><%= event.stars%></pre>
          </td>
        </tr>
        <% end %>
         </tbody>
      
      
      
      
      
      
      
      <%
=begin %>
      
      <tbody>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>Kick off Party!</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 1</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>First official meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
         <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 1</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 5</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>Midterm Potluck and De-Stress</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre>General Meeting</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
      </tbody>
<%
=end %>
      
      
      
    </table>


</section>